<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ColorScheme" value="BlackOnWhite" />
    <add key="FontSize" value="120" />
    <add key="Speed" value="2.4110453494297" />
    <add key="DocumentPath" value="C:\Users\murk\Documents\Mobctv.rtf" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
