<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ColorScheme" value="WhiteOnBlack" />
    <add key="FontSize" value="120" />
    <add key="Speed" value="1.50" />
    <add key="DocumentPath" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
