<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProverbTeleprompter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ColorScheme" value="WhiteOnBlack" />
    <add key="FontSize" value="144" />
    <add key="Speed" value="2.84444444444445" />
    <add key="FlipTalentWindowVert" value="False" />
    <add key="FlipTalentWindowHoriz" value="False" />
    <add key="TalentWindowLeft" value="206.4" />
    <add key="TalentWindowTop" value="17.6" />
    <add key="TalentWindowWidth" value="921.6" />
    <add key="TalentWindowHeight" value="689.6" />
    <add key="EyeLinePosition" value="368.2" />
    <add key="LineHeight" value="1.35" />
    <add key="FlipMainWindowHoriz" value="False" />
    <add key="FlipMainWindowVert" value="False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ProverbTeleprompter.Properties.Settings>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
    </ProverbTeleprompter.Properties.Settings>
  </userSettings>
</configuration>
