<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>

		<diagnostics>
			<endToEndTracing propagateActivity="true" messageFlowTracing="true"/>
		</diagnostics>
		<client>
			<endpoint address="http://localhost:80/pt" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" contract="ProverbTeleprompter.WebController.IPtController" name="ProverbTeleprompter.WebController.IPtController"/>
		</client>
		<services>
			<service name="ProverbTeleprompter.WebController.PtController" behaviorConfiguration="WebHttpServiceBehavior">
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
				<endpoint contract="ProverbTeleprompter.WebController.IPtController" binding="webHttpBinding" address="" behaviorConfiguration="WebHttpBehavior"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="WebHttpServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>

				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="WebHttpBehavior">
					<webHttp/>
				</behavior>


			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
